<!DOCTYPE html>
<html lang="es" xmls:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	
	<title>Junior´s Steam</title>	
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">	
</head>	
<body>
	
<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
 <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/}">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/Compra}">Carrito</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar juego" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>

<div class="container">

		
		<ol class="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
    <li class="breadcrumb-item active">Compras</li>
  </ol>   
</div>

<div>
	<h2>Compra</h2>
<table class="table table-sm">
  	<thead>
    	<tr>			
			<th>Titulo</th>
			<th>Precio</th>
			<th>Cantidad</th>
			<th>Total</th>
			<th></th>
		</tr>
  	</thead>
  	<tbody>
    	<tr th:each="orden:${orden}">
			<td th:text="${orden.nombre}"></td>
			<td th:text="${orden.precio}"></td>
			<td th:text="${orden.cantidad}"></td>
			<td th:text="${orden.total}"></td>
			<td>
				<a th:href="@{/quitarOrden/orden/{id} (id=${orden.juegos.id}) }" class="btn btn-danger">Eliminar</a>
			</td>
		</tr>
  	</tbody>
  	<tfoot>
		  <tr>
			  <h5 th:text="${compra.total}">Total: $</h5>
		  </tr>
		  <tr>
			  <a th:href="@{/}" class="btn btn-primary">Seguir Comprando</a>
			  <a th:href = "@{/ListaOrden}" class="btn btn-success">Realizar Compra</a>
		  </tr>
	  </tfoot>
</table>
</div>

</body>
</html>
